[Desktop Entry]
Version=4.2
Name=T-CONTUR
Comment=Sistema de Transporte Urbano
Exec=sh /opt/Despacho4v0/ejecutar.sh
Terminal=false
Type=Application
Icon=/opt/Despacho4v0/images/icono.png
Name[es]=T-CONTUR
